extends ../layouts/section

block section-title
  h2 Mapas

block section-content
 p Os mapas apresentados nesta parte trazem diferentes tipos de dados históricos de cada um até o momento atual. Esses dados contêm informações sobre o clima - temperatura, chuva e índices de seca -, dados de estoque de carbono, registros de desmatamento e distribuição das espécies ameaças.
 
 p Em Mapas de apoio, é possível realizar a combinação de dados geográficos territoriais, uso do solo e infraestrutura com outros mapas disponíveis no SOMAI, como desmatamento, por exemplo para evidenciar como certas atividades impactam diretamente as Terras Indígenas.
