ul.parent
  li(ui-sref-active="active" du-smooth-scroll="sobre" du-scrollspy)
    a(ui-sref="sobre") Sobre
    .child
      .container
        .twelve.columns
          ul
            li(ui-sref-active="active" du-smooth-scroll="sobre_objetivos" du-scrollspy)
              a(ui-sref="sobre.objetivos") Objetivos
            li(ui-sref-active="active" du-smooth-scroll="sobre_dados" du-scrollspy)
              a(ui-sref="sobre.dados") Dados e fontes
            li(ui-sref-active="active" du-smooth-scroll="sobre_parceiros" du-scrollspy)
              a(ui-sref="sobre.parceiros") Parceiros
              
  li(ui-sref-active="active" du-smooth-scroll="terras-indigenas" du-scrollspy)
    a(ui-sref="terras-indigenas") Terras indígenas
    .child
      .container
        .twelve.columns
          ul
            li(ui-sref-active="active" du-smooth-scroll="terras-indigenas_mapa" du-scrollspy )
              a(ui-sref="terras-indigenas.mapa") Mapa por território
            li(ui-sref-active="active" du-smooth-scroll="terras-indigenas_relatorio" du-scrollspy)
              a(ui-sref="terras-indigenas.relatorio") Relatório do território    
  li(ui-sref-active="active" du-smooth-scroll="ameacas" du-scrollspy)
    a(ui-sref="ameacas") Ameaças
  li(ui-sref-active="active")
    a(ui-sref="glossario") Glossário
  li
    a(href="#") Explore a plataforma
