section#parceiros
  .container
    .six.columns.offset-by-three
    
      section.parceiro-group
        h2 Realizador
        
        .parceiro-item
          .avatar
            img(src="img/logos/ipam.jpg" alt="IPAM")
          p O Instituto de Pesquisa Ambiental da Amazônia (IPAM) é uma organização científica, não governamental, e sem fins lucrativos que há 20 anos trabalha pelo desenvolvimento sustentável da Amazônia, de modo a gerar prosperidade econômica e justiça social, ao mesmo tempo conserva a integridade dos ecossistemas.
        
      section.parceiro-group
        h2 Colaboração
        
        .parceiro-item
          .avatar
            img(src="img/logos/funai.jpg" alt="FUNAI")
          p A Fundação Nacional do Índio (FUNAI) é o órgão indigenista oficial do Estado brasileiro, coordenadora e principal executora da política indigenista do Governo Federal. Sua missão institucional é proteger e promover os direitos dos povos indígenas no Brasil. É, ainda, seu papel promover políticas voltadas ao desenvolvimento sustentável das populações indígenas. Nesse campo, a FUNAI promove ações de etnodesenvolvimento, conservação e a recuperação do meio ambiente nas Terras Indígenas, além de atuar no controle e mitigação de possíveis impactos ambientais decorrentes de interferências externas às terras indígenas.
          
        .parceiro-item
          .avatar
            img(src="img/logos/coiab.jpg" alt="Coordenação das Organizações Indígenas da Amazônia Brasileira")
          p A Coordenação das Organizações Indígenas da Amazônia Brasileira (COIAB) foi criada em abril de 1989 e é a maior organização indígena do Brasil com 75 organizações membros dos nove Estados da Amazônia Brasileira, o que representa cerca de 60% da população indígena do Brasil. Fundada para ser instrumento de luta e de representação dos povos indígenas da Amazônia Legal Brasileira pelos seus direitos básicos. Tem como objetivos e fins, promover a organização social, cultural, econômica e política dos povos e organizações indígenas da Amazônia Brasileira, contribuindo para o seu fortalecimento e autonomia.
          
        .parceiro-item
          .avatar
            img(src="img/logos/apib.jpg" alt="Articulação dos Povos Indígenas do Brasil (APIB)")
          p A Articulação dos Povos Indígenas do Brasil (APIB) é a instância nacional de deliberação e articulação política do movimento indígena. A entidade nasceu em 2005 e congrega as organizações indígenas regionais de todo o país. A APIB atua pela unificação das lutas dos povos indígenas, pautando as demandas do movimento indígena. Também trabalha no sentido de mobilizar os povos e organizações indígenas do país contra as ameaças aos direitos indígenas.
        
        
      section.parceiro-group
        h2 Apoio
        
        .parceiro-item
          .avatar
            img(src="img/logos/noruega.jpg" alt="Embaixada Real da Noruega")
          p A Noruega procura ter um papel ativo nos esforços para proteger e promover os direitos dos povos indígenas e para melhorar as suas condições de vida. Princípios orientadores para o compromisso e envolvimento norueguês nesta área incluem questões relacionadas à terra, aos recursos naturais, aos saberes dos povos indígenas e ao seu empoderamento. Por meio do Programa Norueguês de Apoio aos Povos Indígenas no Brasil, a Noruega apoia  projetos cujos recursos são destinados à Associações Indígenas e organizações não-governamentais (ONGs) indigenistas locais. Desde 2008 o apoio aos povos indígenas no Brasil vem sendo administrado diretamente pela Embaixada da Noruega em Brasília. O apoio norueguês  de longo prazo (há mais de 30 anos) aos povos indígenas tem sido uma parte importante da cooperação norueguesa ao desenvolvimento no Brasil.
        
        .parceiro-item
          .avatar
            img(src="img/logos/usaid.jpg" alt="USAID")
          p Consórcio AIME (Ampliando a Inclusão e Mitigando as Emissões)
          p O Consórcio de Apoio aos Povos Indígenas, Comunidades Locais e Florestas, uma parceria entre dez organizações ambientalistas e indígenas liderada pela Forest Trends, iniciou um programa de cinco anos, com o apoio da USAID, para empoderar comunidades que dependem das florestas, para que contribuam mais integralmente e se beneficiem mais diretamente dos esforços de mitigação das mudanças climáticas. Este programa vai operar no Brasil, Peru, Colômbia, América Central e México.
