p
  select(chosen data-placeholder="Selecione uma terra indígena" no-results-text="'Não encontramos uma terra indígena com este nome'" ng-model="ti" ng-options="ti.nome || ti.nome_ti for ti in tis track by ti.id")
    
article.ti(ng-show="ti")
  p
    span.icon.icon-location-pin
    span.label Localização:
    span.value {{ti.uf}}
  p
    span.icon.icon-flag
    span.label Situação legal:
    span.value {{ti.situacao_legal}}
  p
    span.icon.icon-hair-cross
    span.label Área:
    span.value {{ti.area}} m²
  p
    span.icon.icon-users
    span.label População:
    span.value {{ti.populacao}}
    
form(ng-show="ti" target="_blank" method="post" action="http://www.somai.org/relatorios/relatorio_pti/mudancasclimaticas.php")
  input(type="hidden" name="id" ng-value="ti.id")
  input.full(type="submit" value="Acesse o relatório completo")
