.site-section
  .container
    .four.columns
      header.section-header
        block section-title
          h2 Título da seção
          p Descrição da seção
    .seven.columns.offset-by-one
      .section-content
        block section-content
          p Corpo da seção
