extends ../layouts/section

block section-title
  h2 Dados e fontes
  p O SOMAI utiliza fontes oficiais para seus dados, além de buscar sempre as fontes mais atualizadas para as informações apresentadas.
  
block section-content
  table.duel-table
    thead
      tr
        th Dado
        th Fonte
    tbody
      tr
        td Terras indígenas
        td Instituto Socioambiental (ISA), 2015
      tr
        td Sub-bacias
        td ANA (Agência Nacional de Águas)
      tr
        td Uso do solo
        td Projeto TerraClass - INPE (Instituto Nacional de Pesquisas Espaciais)
      tr
        td Rodovias
        td DNIT (Departamento Nacional de Infraestrutura de Transportes)
      tr
        td Unidades de conservação
        td ICMBio (Instituto Chico Mendes - MMA)
      tr
        td Biomas
        td MMA (Ministério do Meio Ambiente)
      tr
        td Hidrelétricas
        td ANEEL (Agência Nacional de Energia Elétrica)
      tr
        td Reservatórios
        td ANEEL (Agência Nacional de Energia Elétrica)
      tr
        td Linhas de transmissão
        td ANEEL (Agência Nacional de Energia Elétrica)
      tr
        td Portos
        td DNIT (Departamento Nacional de Infraestrutura de Transporte)
      tr
        td Polos madeireiros
        td Imazon - Instituto do Homem e Meio Ambiente da Amazônia
      tr
        td Tipos de vegetação
        td IBGE (Instituto Brasileiro de Geografia e Estatística)
      tr
        td Linhas de transformação
        td ANEEL (Agência Nacional de Energia Elétrica)
      tr
        td Mineração
        td DNPM (Departamento Nacional de Produção Mineral)
      tr
        td Desmatamento
        td INPE/PRODES (Instituto Nacional de Pesquisas Espaciais)
      tr
        td Chuva
        td TRMM (Tropical Rainfall Measuring Mission)
      tr
        td Temperatura
        td MODIS, imagens MOD09Q1
      tr
        td Frequência de seca
        td SPEI Global Drought Monitor
      tr
        td Anomalias de seca
        td TRMM (Tropical Rainfall Measuring Mission)
      tr
        td Estoque de carbono
        td Baccini A, Goetz SJ, Walker WS, et al., 2012. Estimated carbon dioxide emissions from tropical deforestation improved by carbon-density maps. Nature Climate Change, 2(3):182–185.
      tr
        td Focos de calor
        td INPE (Instituto Nacional de Pesquisas Espaciais)
        
