extends ../layouts/section

block section-title
  h2 Objetivos
  p O objetivo do Sistema de Observação e Monitoramento da Amazônia Indígena - SOMAI é fornecer informações que facilitem o desenvolvimento de planos indígenas de mitigação e adaptação às mudanças climáticas para as Terras Indígenas da Amazônia brasileira.
  
block section-content
  p Com o uso de software livre, a plataforma contém dados científicos tanto das alterações climáticas que já ocorreram, como de possíveis cenários futuros. Os dados reunidos mostram informações sobre: desmatamento, uso do solo, vegetação, hidrografia, infraestrutura, estoque de carbono, além das previsões futuras de variação de temperatura, de chuva e da biodiversidade.

  p Os dados serão atualizados de acordo com a disponibilização de novas informações e, no futuro, pretende-se inserir dados coletados pelos próprios indígenas, aumentando a interatividade da plataforma.
