extends ../layouts/section

block section-title
  h2 Parceiros
  
block section-content
  .row
    h3 Realização
    ul.partner-list
      li
        .avatar
          img(src="img/logos/ipam.jpg" alt="IPAM")
  .row
    h3 Colaboração
    ul.partner-list
      li
        .avatar
          img(src="img/logos/funai.jpg" alt="FUNAI")
      li
        .avatar
          img(src="img/logos/coiab.jpg" alt="Coordenação das Organizações Indígenas da Amazônia Brasileira")
      li
        .avatar
          img(src="img/logos/apib.jpg" alt="Articulação dos Povos Indígenas do Brasil (APIB)")
  .row
    h3 Apoio
    ul.partner-list
      li
        .avatar
          img(src="img/logos/noruega.jpg" alt="Embaixada da Noruega")
      li
        .avatar
          img(src="img/logos/usaid.jpg" alt="USAID")
  
  .row
    a.button.full(ui-sref="parceiros") Saiba mais
