extends ../layouts/section

block section-title
  h2 Parceiros
  
block section-content
  .row
    h3 Realização
    ul.partner-list
      li
        .avatar
        h4 IPAM
  .row
    h3 Apoio
    ul.partner-list
      li
        .avatar
        h4 Embaixada Noruega
      li
        .avatar
        h4 USAID
  .row
    h3 Colaboração
    ul.partner-list
      li
        .avatar
        h4 FUNAI
      li
        .avatar
        h4 COIAB
      li
        .avatar
        h4 APIB
  
  .row
    a.button.full(ui-sref="parceiros") Saiba mais
