extends ../layouts/section

block section-title
  h2 Mapa por Terra Indígena
  
block section-content
  p Ao selecionar o nome de uma Terra Indígena, o SOMAI dá destaque à essa Terra. Além do zoom, é possível gerar relatórios individuais para a Terra selecionada com informações individualizadas tais como: presença de conflitos e percepção das mudanças ambientais pelos indígenas. O objetivo é que seja disponibilizado nos relatórios dados coletados pelos indígenas que vivem naquela Terra.
