extends ../layouts/section

block section-title
  h2 Relatório por Terra Indígena
  p O SOMAI possui um relatório específico para cada Terra Indígena Amazônica. No relatório é possível encontrar dados gerais como a localização, área e população; e dados climáticos com foco naquela Terra Indígena. Há também gráficos para o melhor entendimento de como está a situação de cada Terra Indígena Amazônica.
  
block section-content
  div.relatorio-content
    include ../../relatorio
