extends views/includes/layouts/site

block title
  title SOMAI
  
block head

block header-branding
  h1(du-smooth-scroll="masthead")
    a(ui-sref="home") SOMAI
      img(src="img/logo.png")
      img.active(src="img/logo_cor.png")
      
block header-nav
  include views/includes/nav

block header-info
  h2 Sistema de Observação e Monitoramento da Amazônia Indígena
  p Informação científica para ajudar os povos indígenas na adaptação aos impactos da mudança do clima.
  
block summary
  .container
    .four.columns
      .summary-widget
        img.icon(src="img/oq.png" alt="O que é")
        h2 O que é
        p.desc Plataforma online com dados científicos sobre as Terras Indígenas da Amazônia brasileira, que busca mostrar a importância destes territórios para ações de mitigação das mudanças climáticas e manutenção do equilíbrio ambiental regional.
        p(du-smooth-scroll="sobre_objetivos")
          a.button(ui-sref="sobre.objetivos") Conheça a iniciativa
    .four.columns
      .summary-widget
        img.icon(src="img/pq.png" alt="Para quem")
        h2 Para quem
        p.desc O SOMAI foi desenvolvido para o empoderamento indígena nas questões climáticas, levando-se em conta os impactos climáticos sobre suas terras. É uma ferramenta para povos indígenas, gestores e instituições que trabalham com o tema.
        p(du-smooth-scroll="terras-indigenas_relatorio")
          a.button(ui-sref="terras-indigenas.relatorio") Busque territórios indígenas
    .four.columns
      .summary-widget
        img.icon(src="img/cf.png" alt="Como funciona")
        h2 Como funciona
        p.desc A ferramenta permite a produção instantânea de mapas e relatórios que são rica fonte de informação sobre as Terras Indígenas. O SOMAI possui também uma calculadora de ameaças para combinar dados e calcular quais as terras mais vulneráveis.
        p(du-smooth-scroll="ameacas")
          a.button(ui-sref="ameacas") Veja os mapas e dados

block sections
  section#sobre.section-group
    section#sobre_objetivos
      include views/includes/sobre/objetivos
    section#sobre_dados
      include views/includes/sobre/dados
    section#sobre_parceiros
      include views/includes/sobre/parceiros
    section#sobre_contato
      include views/includes/sobre/contato
  section#terras-indigenas.section-group
    section#terras-indigenas_mapa
      include views/includes/terras-indigenas/mapa
    section#terras-indigenas_relatorio
      include views/includes/terras-indigenas/relatorio
  section#ameacas.section-group
    section#ameacas_mapas
      include views/includes/ameacas/mapas
    section#ameacas_clima
      include views/includes/ameacas/clima
    section#ameacas_antropica
      include views/includes/ameacas/antropica
    section#ameacas_calc
      include views/includes/ameacas/calc

block colophon
  a.footer-brand(ui-sref="home") SOMAI
    img(src="img/logo.png")
  a.platform(href="#")
    span.icon.icon-map
    | Explore a plataforma
    
block foot
